#pTable{
	display: table;
	width: 100%;
	float: right;
}

.elemRow {
	display: block;
	width: 100%;
}

.element{
	display: table-cell;
	width: 5.5%;
	margin: 2px;
	background-color: green;
}

.spacer_16{
	display: table-cell;
	width: 88.89%;
}

.spacer_10{
	display: table-cell;
	width: 55.5%;
}

.atomicNumber,.name,.density{
	font-size: 70%;
}

.symbol{
	font-size: 150%;
	font-weight: bold;
}

