#pTable{
	width: 100vw;
}

.elemRow {
	width: 100vw;
}

.element{
	width: 5.5vw;
	height: 5.5vw;
	max-height: 5.5vw;
	margin: 2em;
	background-color: LightGray;
	opacity: .65;
}

.element.transition{
	opacity: 0;
}

.atomicNumber,.name,.density{
	font-size: .7vw;
}

.symbol{
	font-size: 1.8vw;
	font-weight: bold;
}

.active{
	background-color: MediumSeaGreen;
	opacity: 1;
}

.active:hover{
	cursor: pointer;
	background-color: #68B389;
}

.selected,.selected:hover{
	background-color: #3C7EB3;
}

#sliderForm{
	width: 52vw;
	margin: 1vw 10vw .1vw 7vw;
}

#searchPart{
	width: 52vw;
	margin: 1vw 3vw 0vw 14vw;
	font-size: 1.5vw;
}

#partialPart{
	width: 12em;
}

#formResults{
	width: calc(5.5vw * 4);
	height: calc(5.5vw *2);
	margin-left: 14vw;
	margin-top: .5vw;
	overflow-y: auto;
}

#minThick,#maxThick{
	width: 4em;
}

.infinity{
	color: rgba(0, 0, 0, 0.0);
	background-image: url("./images/infinity.png");
	background-size: 60% 70%;
	background-position: center; 
	background-repeat: no-repeat;
}

#rangeSlider{
	margin-top: 1em;
	width: 100%;
	clear: both;
}

#formInputs{
	width: 100%;
}

.checkLabel{
	padding: .5em;
	cursor: pointer;
}

.rangeInput{
	display: inline;
}

.marginLeft{
	margin-left: 4vw;
}

.right{
	float: right;
}

.left{
	float: left;
}

.mid{
	margin-left: 7.5vw;
}

@media (max-width: 1643px){
	#sliderForm{
		font-size: 1vw;
	}
}