#pTable{
	width: 100%;
}

.elemRow {
	width: 100%;
}

.element{
	width: 5.5%;
	margin: 2em;
	background-color: LightGray;
	opacity: .65;
}

.element.transition{
	opacity: 0;
}

.atomicNumber,.name,.density{
	font-size: 85%;
}

.symbol{
	font-size: 175%;
	font-weight: bold;
}

.sold{
	background-color: MediumSeaGreen;
	opacity: 1;
}

.sold:hover{
	cursor: pointer;
	background-color: #68B389;
}

.selected,.selected:hover{
	background-color: #3C7EB3;
}

#sliderForm{
	margin: .5em;
}

#formInputs,#rangeSlider{
	margin-left: 8%;
	margin-right: 32%;
}

#minThick,#maxThick{
	width: 4em;
}

#rangeSlider{
	margin-top: 1em;
}

#formInputs{
	width: 100%;
}

.rangeInput{
	width: 50%;
	display: inline;
}

.marginLeft{
	margin-left: 32%;
}