body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.horMargin{
	margin-left: 2em;
	margin-right: 2em;
}

.vertMargin{
	margin-top: 2em;
	margin-bottom: 2em;
}

.hidden{
	display: none;
}

#activePage{
	background: #68B389;
	color: black;
}

.navSelected{
	background-color: green;
}

#nav-main{
  width: 70%;
}

.navButton{
  list-style: none;
  display: inline-block;
  background-color: LightGray;
  padding: 2%;
}

#nav-main > ul > a{
  color: black;
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: bold;
}

#certTable,Table.partNums{
	border: solid 1px;
}