#pTable,#pDiv{
	width: 95%;
}

#pTable{
	table-layout: fixed;
}

.elemRow {
	width: 100vw;
}

.element{
	/*width: calc(5.5vw - 1px);
	height: calc(5.5vw - 1px);
	max-height: calc(5.5vw - 1px);
	max-width: calc(5.5vw - 1px);*/
	width: 3em;
	height: 3em;
	margin: 2em;
	background-color: LightGray;
	opacity: .65;
}

.element.transition{
	opacity: 0;
}

.atomicNumber,.name,.density{
	font-size: .7vw;
}

.symbol{
	font-size: 1.8vw;
	font-weight: bold;
}

.active{
	background-color: MediumSeaGreen;
	opacity: 1;
}

.active:hover{
	cursor: pointer;
	background-color: #68B389;
}

.selected,.selected:hover{
	background-color: #3C7EB3;
}

#sliderForm{
	width: 52vw;
	margin: 1vw 15vw .1vw 13vw;
}

#searchPart{
	width: 52vw;
	margin: 1vw 3vw 0vw 14vw;
	font-size: 1.5vw;
}

#partialPart{
	width: 12em;
}

#formResults{
	width: calc(5.5vw * 8);
	height: calc(5.5vw *3);
	margin-left: 14vw;
	margin-top: .5vw;
	overflow-y: auto;
}

#resultTable > td{
	padding: 2px;
}

.infinity{
	color: rgba(0, 0, 0, 0.0);
	background-image: url("./images/infinity.png");
	background-size: 60% 70%;
	background-position: center; 
	background-repeat: no-repeat;
}

#rangeSlider{
	margin-top: 1em;
	width: 100%;
	clear: both;
}

#formInputs{
	width: 100%;
	display: flex;
}

.inputDiv{
	flex: 1;
	font-size: 1vw;
}

.checks{
	flex: 1.3;
}

.checkLabel{
	font-size: 1vw;
}


/*.checkLabel{
	padding: .5em;
	cursor: pointer;
}*/

/*.rangeInput{
	display: inline-block;
}*/

.marginLeft{
	margin-left: 4vw;
}

.partSelected{
	background-color: lightseagreen;
}

/*@media (min-width: 1067){
	.right{
		float: right;
		width: 33%;
	}

	.left{
		float: left;
		width: 33%;
	}

	.mid{
		display: inline-block;
		width: 33%;
	}

}

@media (max-width: 783){
	#sliderForm{
		font-size: 1vw;
	}
}

@media (max-width: 1066px){
	.left,.right{
		float: none;
		clear: both;
		display: block;
	}
	.mid{
		clear: both;
		display: block;
	}
}*/